<h4>{{ _('Recore') }}</h4>
This tab holds information about the software installed on Recore. You can use this
when asking for help on discord.

<h4>{{ _('Versions') }}</h4>
<table class="table table-striped table-hover table-condensed table-hover">
  <thead>
  <tr>
      <th class="versions_plugin_recore_versions_name">{{ _('Name') }}</th>
      <th class="versions_plugin_recore_versions_actions">{{ _('Version') }}</th>
  </tr>
  </thead>
  <tbody data-bind="foreach: programVersions">
      <tr data-bind="attr: {title: name}">
          <td class="versions_plugin_recore_versions_name" data-bind="text: name"></td>
          <td class="versions_plugin_recore_versions_version" data-bind="text: version"></td>
      </tr>
  </tbody>
</table>

<h4>{{ _('SSH access to Recore') }}</h4>
You can enable or disable SSH access to Recore here. SSH access can pose a risk
if the default password is left unchanged, so as soon as you enable SSH access
you should log in and set a new password. If the password is still left as the default
an hour after ssh has been enabled, ssh will be disabled.

<div data-bind="if: isSshEnabled()">
  <b>SSH is currently enabled.</b><br>
  <button class="btn btn-primary" data-bind="click: disableSsh">Disable SSH</button>
</div>

<div data-bind="ifnot: isSshEnabled()">
  <b>SSH is currently not enabled.</b><br>
  <button class="btn btn-primary" data-bind="click: enableSsh">Enable SSH</button>
</div>
