<h4>{{ _('Refactor') }}</h4>
This tab holds information about the software installed by Refactor. You can use this
when asking for help on discord.

<h4>{{ _('Versions') }}</h4>
<table class="table table-striped table-hover table-condensed table-hover">
  <thead>
  <tr>
      <th class="versions_plugin_refactor_versions_name">{{ _('Name') }}</th>
      <th class="versions_plugin_refactor_versions_actions">{{ _('Version') }}</th>
  </tr>
  </thead>
  <tbody data-bind="foreach: programVersions">
      <tr data-bind="attr: {title: name}">
          <td class="versions_plugin_refactor_versions_name" data-bind="text: name"></td>
          <td class="versions_plugin_refactor_versions_version" data-bind="text: version"></td>
      </tr>
  </tbody>
</table>

<h4>{{ _('Boot Media') }}</h4>
Refactor can run from either the internal eMMC drive or from a USB drive.
In this section, you can choose which drive to boot from.
<div id="images">
  <div class="boot-media">
    <b>eMMC</b><br>
    <img src="/plugin/refactor/static/img/eMMC.png" /><br>
    <div style="height: 70px">
      <div data-bind="text: isEmmcPresent() ? 'Present' : 'Not found'"></div>
      <div data-bind="if: rootfs() == 'emmc'">
        <b>Currently running from eMMC</b>
      </div>
      <div data-bind="if: bootMedia() == 'emmc'">
        <b>After a reboot will run from eMMC</b>
      </div>
      <div data-bind="if: isEmmcPresent">
        <div data-bind="ifnot: bootMedia() == 'emmc'">
          <button class="btn btn-primary" data-bind="click: changeBootMedia">Run from eMMC</button>
        </div>
      </div>
    </div>
  </div>
  <div class="boot-media">
    <b>USB drive</b><br>
    <img src="/plugin/refactor/static/img/USB.png" /><br>
    <div style="height: 70px">
      <div data-bind="text: isUsbPresent() ? 'Present' : 'Not found'"></div>
      <div data-bind="if: rootfs() == 'usb'">
        <b>Currently running from  USB drive</b>
      </div>
      <div data-bind="if: bootMedia() == 'usb'">
        <b>After a reboot will run from USB drive</b>
      </div>
      <div data-bind="if: isUsbPresent">
        <div data-bind="ifnot: bootMedia() == 'usb'">
          <button class="btn btn-primary" data-bind="click: changeBootMedia">Run from USB drive</button>
        </div>
      </div>
    </div>
  </div>
</div>

<h4>{{ _('SSH access to Recore') }}</h4>
You can enable or disable SSH access to Recore here. SSH access can pose a risk
if the default password is left unchanged, so as soon as you enable SSH access
you should log in and set a new password.

<div data-bind="if: isSshEnabled()">
  <b>SSH is currently enabled.</b><br>
  <button class="btn btn-primary" data-bind="click: disableSsh">Disable SSH</button>
</div>

<div data-bind="ifnot: isSshEnabled()">
  <b>SSH is currently not enabled.</b><br>
  <button class="btn btn-primary" data-bind="click: enableSsh">Enable SSH</button>
</div>
